@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MiSans';
  src: url('/fonts/MiSans-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'MiSans';
  src: url('/fonts/MiSans-ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'MiSans';
  src: url('/fonts/MiSans-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'MiSans';
  src: url('/fonts/MiSans-Normal.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MiSans';
  src: url('/fonts/MiSans-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MiSans';
  src: url('/fonts/MiSans-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'MiSans';
  src: url('/fonts/MiSans-Demibold.otf') format('opentype');
  font-weight: 650;
  font-style: normal;
}

@font-face {
  font-family: 'MiSans';
  src: url('/fonts/MiSans-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'MiSans';
  src: url('/fonts/MiSans-Heavy.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
} 